header {
    position: sticky;
    top: 1px;
    z-index: 10;

    margin: 16px 25px 80px;
    
    @include mq('tablet') {
        margin-bottom: 72px;
    }

    .container {
        max-width: 1216px;
        @include flex(center, 0, space-between);
        padding: 8px 19px 8px 23.089px;
        
        background: rgba(255, 255, 255, 0.04);
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(3.5px);

        #logo {
          max-width: 167px;
        }
        .right {
            @include flex(center, 16px);
            .help {
                @include flex(center, 8px);
                img {
                    width: 24px;
                    height: 24px;
                }
                p {
                    color: $gray-200;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 150%;
                    transition: color .3s ease;
                    &:hover {
                        color: $p-color;
                    }
                }
            }
            .testar {
                @include btn(14px, 23px);
            }
        }
        #bt-menu {
            display: none;
        }

        @include mq('tablet') {
            padding: 19px 29px 20px 25px;

            #logo {
                max-width: 135px;
            }
            .right {
                display: none;
            }
            #bt-menu {
                display: inline;
                transition: transform .3s ease;
            }
        } 
    }
}
