menu {
    background-color: #0d081a;
    padding: 100px 0;
    width: 0px;
    height: 100vh;
    z-index: 11;
    position: fixed;
    top: 0;
    right: 0;

    transition: width 1s;
    #bt-Fmenu {
        position: absolute;
        top: 36px;
        right: 55px;
        transition: transform .3s ease;
    }
    ul {
        li {
            min-width: max-content;
            font-size: 18px;
            padding: 5px;
            border-bottom: 1px solid rgb(205, 200, 200);

            a:hover {
                color: $gray-400;
            }
            a:active {
                color: $p-dark;
            }
        }
        
    }
}